.logo {
    width: auto; 
    height: 64px;
    animation: zoomInOut 2s infinite alternate; /* Apply zoom in and out animation */
  }
  
  @keyframes zoomInOut {
    0% {
      transform: scale(1); /* Initial scale */
    }
    100% {
      transform: scale(1.1); /* Scale to 1.1 */
    }
  }