

.navbar {
    background-color: #1649ff; 
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    margin-right: auto; 
  }
  
  .navbar-brand p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
  }
  
  .navbar-logo-container {
    margin-left: auto; 
  }
  
  .navbar-logo {
    width: auto; 
    height: 64px;
    animation: zoomInOut 2s infinite alternate; /* Apply zoom in and out animation */
  }
  
  @keyframes zoomInOut {
    0% {
      transform: scale(1); /* Initial scale */
    }
    100% {
      transform: scale(1.1); /* Scale to 1.1 */
    }
  }
  
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    display: inline-block;
    margin-left: 20px; 
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333333;
    font-size: 16px; 
  }
  
  .navbar-link:hover {
    color: #007bff; 
  } 
  
  